.footer {
	margin-top: 10vh;
	width: 100%;
	height: 20vh;
	background-color: #7a5bf5;
	font-size: max(1.2vw, 15px);
	color: white;
	font-family: "Rubik", sans-serif;
}

.footer a {
	color: white;
}

.footer-wrapper {
	width: 80%;
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.footer-links {
	height: 50%;
	width: 25%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-author {
	height: 50%;
	display: flex;
	align-items: center;
}
